# Data Collections 2 (Dictionaries, Sets) and Importing Modules

## Tasks Today:

1) Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring (key, value) <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accessing Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #1 - Print the eye color of each person in a double nested dict <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Adding New Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Modifying Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Removing Key, Value Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Looping a Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Looping Only Keys <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Looping Only Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #2 - Create a Function that Prints All Key Value Pairs within a print .format()  <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) sorted() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Lists with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; k) Dictionaries with Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; l) Dictionaries with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #3 - Write a Function that asks someone's name and address, and then stores that into a dictionary, which prints all names and addresses after they're done putting information in...  <br>
2) Dictionaries vs. Lists (over time)<br>
3) Set <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) .add() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .union() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .intersection() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .difference() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Frozen Set <br>
4) Modules <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Importing Entire Modules <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Importing Methods Only <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Using the 'as' Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Creating a Module <br>
5) Exercises <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Build a Shopping Cart <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Create Your Own Module <br>

## Dictionary <br>
<p>A collection of data with 'key:value' pairs. Dictionaries are ordered as of Python 3.6</p>

##### Declaring (key, value)

In [2]:
dict_a = {
    'rockstar': 'jimi', 
    'age': 30, 
    'instruments': ['guitar', 'drums']
}


dict_b = {
    'rockstar': 'john',
    'age': 32,
    'instruments': ['guitar', 'drums', 'microphone']
}



print(dict_a)
print(dict_b)
print(type(dict_a))

{'rockstar': 'jimi', 'age': 30, 'instruments': ['guitar', 'drums']}
{'rockstar': 'john', 'age': 32, 'instruments': ['guitar', 'drums', 'microphone']}
<class 'dict'>

##### Accessing Values

In [ ]:
my_rockstars = ['james', 'cliff', 'jason', 'petrucci']

for i in my_rockstars:
    if i == 'jason':
        print('JASON IS A ROCKSTAR')

In [3]:
print(dict_a)

print(dict_a['rockstar'])

{'rockstar': 'jimi', 'age': 30, 'instruments': ['guitar', 'drums']}
jimi

## In-Class Exercise #1 - Print a formatted statement from the dictionary below <br>
<p>The output should be '2018 Chevrolet Silverado'</p>

In [1]:
# use the dict below
truck = {
    'year': 2018,
    'make': 'Chevrolet',
    'model': 'Silverado'
}

print(f"{truck['year']} {truck['make']} {truck['model']}")

2018 Chevrolet Silverado

##### Adding New Pairs

In [30]:
truck = {
    'year': 2018,
    'make': 'Chevrolet',
    'model': 'Silverado'
}

In [16]:
truck['color'] = 'Red'

In [23]:
print(truck)

{'year': 2018, 'make': 'Chevrolet', 'model': 'Silverado'}

##### Modifying Values

In [24]:
truck['year'] = 2019
truck['color'] = 'Blue'

print(truck)

{'year': 2019, 'make': 'Chevrolet', 'model': 'Silverado', 'color': 'Blue'}

##### Removing Key, Value Pairs

In [31]:
# del
year = truck['year']
del truck['year']

In [32]:
print(truck)

{'make': 'Chevrolet', 'model': 'Silverado'}

In [33]:
print(year)

2018

In [34]:
# .pop()
make = truck.pop('make')
print(make)

Chevrolet

In [35]:
print(truck)

{'model': 'Silverado'}

##### Looping a Dictionary

In [37]:
# .items()
# a, b, c = 1, 2, 3
# print(a)
# print(b)
# print(c)

my_rockstars = ['james', 'cliff', 'jason', 'petrucci']

truck = {
    'year': 2018,
    'make': 'Chevrolet',
    'model': 'Silverado'
}

for idx, val in enumerate(my_rockstars):
    print(idx, val)
    
for key, val in truck.items():
    print(key, val)

0 james
1 cliff
2 jason
3 petrucci
year 2018
make Chevrolet
model Silverado

##### Looping Only Keys

In [43]:
# .keys()
shopping_cart = {
    'apple': {
        'price': 0.5,
        'quantity': 5
    },
    'banana': {
        'price': 0.65,
        'quantity': 100
    },
    'ball': {
        'price': 1,
        'quantity': 5
    }
}

In [45]:
# Print the items in your shopping cart...

for key in shopping_cart.keys():
    print(key)

apple
banana
ball

##### Looping Only Values

In [44]:
# .values()

# What is the total price of the items in your shopping cart?
total = 0
for item in shopping_cart.values():
    print(item)
    total += item['quantity'] * item['price']
    
print(total)

{'price': 0.5, 'quantity': 5}
{'price': 0.65, 'quantity': 100}
{'price': 1, 'quantity': 5}
72.5

## In-Class Exercise #2 - Create a Function that Prints All Key Value Pairs within a formatted string<br>
<p><b>Output should be:</b><br>
Max has blue eyes<br>
Lilly has brown eyes<br>
Barney has blue eyes<br>
etc.
</p>

In [46]:
# use the dict below

people = {
    'Max': 'blue',
    'Lilly': 'brown',
    'Barney': 'blue',
    'Larney': 'brown',
    'Ted': 'purple'
}

def print_people(a_dict):
    for key, val in a_dict.items():
        print(f"{key} has {val} eyes")
        
print_people(people)

Max has blue eyes
Lilly has brown eyes
Barney has blue eyes
Larney has brown eyes
Ted has purple eyes

##### sorted()

In [50]:
# sorts variables in order
# sorted(dict.values()) or dict.keys() or dict.items()
people = {
    'Max': 'blue',
    'Lilly': 'brown',
    'Barney': 'blue',
    'Larney': 'brown',
    'Ted': 'purple'
}
print(sorted(people.items()))

[('Barney', 'blue'), ('Larney', 'brown'), ('Lilly', 'brown'), ('Max', 'blue'), ('Ted', 'purple')]

##### List with Dictionaries

In [56]:
rockstars = [
    {
        'name': 'Jimi',
        'age': 30,
        'instrument': 'guitar'
    },
    {
        'name': 'Alex',
        'age': 32,
        'instrument': 'drums'
    },
    {
        'name': 'Lana',
        'age': 35,
        'instrument': 'keyboard'
    }
]

rockstars[1]['instrument']

'drums'

##### Dictionaries with Lists

In [59]:
# be careful when using numbers as keys in dictionaries, don't confuse them with indexes
rockstar = {
    'name': 'Jimi',
    'age': 32,
    'instruments': ['guitar', 'keyboard', 'drums']
}

rockstar['instruments'][0]

'guitar'

##### Dictionaries with Dictionaries

In [63]:
# to get values, must traverse through keys
shopping_cart = {
    'apple': {
        'price': 0.5,
        'quantity': 5
    },
    'banana': {
        'price': 0.65,
        'quantity': 100
    },
    'ball': {
        'price': 1,
        'quantity': 5
    }
}

shopping_cart['ball']['price']

1

## Dictionaries vs. Lists (over time) Example of RUNTIME
### When inputting values in a Dictionary vs List

In [64]:
import time


# generate fake dictionary
d = {}

for i in range(10000000):
    d[i] = 'value'
    

# generate fake list
big_list = [x for x in range(10000000)]

In [68]:
print(big_list)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [70]:
# tracking time for dictionary
start_time = time.time()

print(d[9999999])
print(d[9999998])
print(d[9999997])

end_time = time.time() - start_time

print('Elapsed time for dictionary: {}'.format(end_time))


# tracking time for list
start_time = time.time()

def get_value(index):
    for i in range(len(big_list)):
        if i == index:
            print(i)
            
get_value(9999999)
get_value(9999998)
get_value(9999997)

end_time = time.time() - start_time

print('Elapsed time for list: {}'.format(end_time))

value
value
value
Elapsed time for dictionary: 0.0005011558532714844
9999999
9999998
9999997
Elapsed time for list: 0.7476425170898438

## Exercise #3 - Write a Function that asks someone's name and address, and then stores that into a dictionary, and continues to do so until they choose to 'quit'. Once they quit, the program should print all names and addresses. <br>
<p>
<b>Proper steps:</b><br>
step 1: write a function that takes in information and stores it in a dictionary<br>
step 2: define an empty dictionary to work with<br>
step 3: create our loop, which asks the user for information until they quit<br>
step 4: ask for the information, and store it into variables<br>
step 5: check if the user types quit<br>
step 5a: print out all information<br>
step 5b: break out of the loop<br>
step 6: if they didn't quit, add the information to the dictionary<br>
step 7: invoke the function by calling it
</p>

In [3]:
from IPython.display import clear_output

# step 2
address_book = {}

# step 1
def store_user_info(name, address):
    address_book[name] = address
    
def main():
    # step 3
    while True:
        clear_output()
        # step 4
        name = input("Person's Name: ")
        address = input("Person's Address: ")
        
        # step 6
        store_user_info(name, address)
        
        cont = input("Would you like to continue (y/n)? ")
        
        # step 5
        if cont == 'n':
            # step 5b
            break
            
    # step 5a
    print(address_book)
    
# step 7
main()

Person's Name: paul
Person's Address: 123
Would you like to continue (y/n)? n
{'Lucas': '555 Main St', 'Alex': '123', 'paul': '123'}

In [2]:
store_user_info('Lucas', '555 Main St')

In [73]:
print(address_book)

{'Lucas': '555 Main St'}

## Set <br>
<p>A Set is an unordered collection data type that is iterable (loop), mutable, and has no duplicate elements.<br>Major advantage is that it is highly optimized in checking if something is in the set, as opposed to checking if something is in a list.</p>

##### Declaring

In [5]:
# set() or {}
# no order {3, 2, 1} outputs as {1, 2, 3}
names = ['lucas', 'lucas', 'chris', 'chris', 'jake']

names_set = set(names)

print(names_set)

{'jake', 'lucas', 'chris'}

In [9]:
names_set = {'jake', 'lucas', 'chris', 'lucas'}

In [7]:
type(names_set)

set

In [10]:
names_set

{'chris', 'jake', 'lucas'}

##### .add()

In [11]:
# set.add()
names_set.add('Anna')

In [13]:
names_set.add('Brittany')

In [15]:
names_set.add('Crittany')

In [17]:
names_set.add(1)

In [18]:
names_set

{1, 'Anna', 'Brittany', 'Crittany', 'chris', 'jake', 'lucas'}

##### .remove()

In [19]:
# removes by value
# set.remove()
# nums.remove(56)

names_set.remove('Anna')

In [20]:
names_set

{1, 'Brittany', 'Crittany', 'chris', 'jake', 'lucas'}

In [21]:
set_1 = {1,3,5,6,9}
set_2 = {2,4,5,10,12,6}

##### .union()

In [22]:
# Returns a union of two sets, can also use '|' or set.union(set)
# joins all numbers, gets rid of duplicates
set_1.union(set_2)

{1, 2, 3, 4, 5, 6, 9, 10, 12}

##### .intersection()

In [23]:
# Returns an intersection of two sets, can also use '&'
# only takes similar elements from both sets
set_1.intersection(set_2)

{5, 6}

##### .difference()

In [24]:
# Returns a set containing all the elements of invoking set that are not in the second set, can also use '-'
# only takes values from the first set that are not in the second set
# order matters
set_1.difference(set_2)

{1, 3, 9}

In [25]:
set_2.difference(set_1)

{2, 4, 10, 12}

In [26]:
scheduled_to_work_monday = {'Lucas', 'Christopher', 'Joel'}
scheduled_to_work_tuesday = {'Brian', 'Christopher', 'Tatyana'}

In [27]:
# find the names of people that are scheduled to work either monday or tuesday
scheduled_to_work_monday.union(scheduled_to_work_tuesday)

{'Brian', 'Christopher', 'Joel', 'Lucas', 'Tatyana'}

In [28]:
# find the names of people that are scheduled to work both monday and tuesday
scheduled_to_work_monday.intersection(scheduled_to_work_tuesday)

{'Christopher'}

In [29]:
# find the names of people that worked monday but NOT tuesday
scheduled_to_work_monday.difference(scheduled_to_work_tuesday)

{'Joel', 'Lucas'}

##### .clear()

In [30]:
# Empties the whole set
# set.clear()
scheduled_to_work_tuesday.clear()

In [31]:
scheduled_to_work_tuesday

set()

##### Frozenset <br>
<p>Frozen sets are immutable objects that only support methods and operators that produce a result without affecting the frozen set or sets to which they are applied.</p><br><b>Unique & Immutable</b>

In [42]:
# frozenset([])
names_set = frozenset({'jake', 'lucas', 'chris', 'lucas'})

In [40]:
names_set

frozenset({'chris', 'jake', 'lucas'})

In [43]:
names_set_unfrozen = set(names_set)

In [44]:
names_set_unfrozen.add('mike')

In [45]:
names_set_unfrozen

{'chris', 'jake', 'lucas', 'mike'}

## Modules

##### Importing Entire Modules

In [51]:
# import or from 'xxx' import *
import math

print(math.pi)

# 3 * 2 * 1
# 10 * 9 * 8 * 7 * 6 * 5 * 4 * 3 * 2 * 1

math.factorial(10)

3.141592653589793

3628800

##### Importing Methods Only

In [53]:
# from 'xxx' import 'xxx'
# from math import floor
from math import pi, factorial

print(pi)

factorial(10)

3.141592653589793

3628800

##### Using the 'as' Keyword

In [59]:
# from 'xxx' import 'xxx' as 'xxx' or import 'xxx' as 'xxx'
# from math import floor as f
from math import pi as pie, factorial as fl

def factorial(x):
    print("HI")
    
    
fl(10)

3628800

##### Creating a Module

In [61]:
import module

module.print_name("Lucas")

Hello Lucas, we've been expecting you

In [62]:
module.adder(10, 25)

35

In [63]:
from module import print_name, adder

print_name("Christopher")

Hello Christopher, we've been expecting you

In [64]:
adder(15, 30)

45

# Exercises

### 1) Build a Shopping Cart <br>
<p><b>You can use either lists or dictionaries. The program should have the following capabilities:</b><br><br>
1) Takes in input <br>
2) Stores user input into a dictionary or list <br>
3) The User can add or delete items <br>
4) The User can see current shopping list <br>
5) The program Loops until user 'quits' <br>
6) Upon quiting the program, print out all items in the user's list <br>
</p>

In [73]:
from IPython.display import clear_output

"""
{
    'item name': {
        'quantity': 0,
        'price': 5
    }
}
"""
cart = {}

# Ask the user four bits of input: Do you want to : Show/Add/Delete or Quit?
def show():
    print("=~" * 15)
    print("SHOPPING CART:")
    
    for key, val in cart.items():
        total = val['quantity'] * val['price']
        print(f"{key.title()} x{val['quantity']}: ${'{:.2f}'.format(total)}")
    
    print("=~" * 15)

def add(item, quantity, price):
    cart[item] = {
        'quantity': quantity,
        'price': price
    }

def delete(item):
    del cart[item]
    # cart.pop(item)

def main():
    while True:
        user_choice = input("Choose an Option (add/view/delete/quit): ").lower()
        
        if user_choice == 'add':
            name = input("Product Name: ").lower()
            quantity = int(input("Product Quantity: "))
            price = float(input("Product Price: "))
            
            add(name, quantity, price)
        elif user_choice == 'view':
            show()
        elif user_choice == 'delete':
            name = input("What product do you want to delete? ").lower()
            
            delete(name)
        elif user_choice == 'quit':
            show()
            break
        else:
            print("Invalid input, please try again.")

In [74]:
main()

Choose an Option (add/view/delete/quit): add
Product Name: lemon
Product Quantity: 1
Product Price: .5
Choose an Option (add/view/delete/quit): quit
=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~
SHOPPING CART:
Lemon x1: $0.50
=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~

In [58]:
add('banana', 3, 1)
add('apple', 2, .50)
add('cake', 1, 2.50)
add('kiwi', 7, .80)

In [25]:
delete('cake')

In [26]:
print(cart)

{'banana': {'quantity': 3, 'price': 1}, 'apple': {'quantity': 2, 'price': 0.5}, 'kiwi': {'quantity': 7, 'price': 0.8}}

In [59]:
show()

=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~
SHOPPING CART:
Banana x3: $3.000
Apple x2: $1.000
Cake x1: $2.500
Kiwi x7: $5.600
=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~

In [27]:
"""
===============================
SHOPPING CART:
Apple x2: $1.00
Banana x3: $3.00
Cake x1: $2.50
Kiwi x7: $5.60
===============================
"""

'\n===============================\nSHOPPING CART:\nApple x2: $1.00\nBanana x3: $3.00\nCake x1: $2.50\nKiwi x7: $5.60\n===============================\n'

### 2) Create a Module in VS Code and Import It into jupyter notebook <br>
<p><b>Module should have the following capabilities:</b><br><br>
1) Has a function to calculate the square footage of a house <br>
    <b>Reminder of Formula: Length X Width == Area<br>
        <hr>
2) Has a function to calculate the circumference of a circle <br><br>
<b>Program in Jupyter Notebook should take in user input and use imported functions to calculate a circle's circumference or a houses square footage</b>
</p>